<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231883818787-vt2ioljto0hed2392g9c4k6f1ussvgbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231883818787-vt2ioljto0hed2392g9c4k6f1ussvgbi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>231883818787-l19eo0bhijs5o8t1q5hvsr4o3s6b5uq8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJuY2iMQuyjMfCoTdesPnmbyYDOHzX784</string>
	<key>GCM_SENDER_ID</key>
	<string>231883818787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hasib.loveStories</string>
	<key>PROJECT_ID</key>
	<string>love-stories-54e35</string>
	<key>STORAGE_BUCKET</key>
	<string>love-stories-54e35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231883818787:ios:253098e82d92c71e24ae96</string>
</dict>
</plist>